.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carousel-container {
    width: 100%;
    padding: 20px 0;
}


.slides {
    display: flex;
    transition: transform 0.5s ease;
    gap: 21px;
    margin-left: 1000px;
}

.slide {
    display: flex;
    width: 423px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.slide img {
    width: 100%;
    border-radius: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.nav_button {
    width: 56px;
    height: 56px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.random_style {
    color: #FFF;

    font-family: Golos;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.random_style_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1161px;
}

.body_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 1161px;
}

.liberry {

    align-self: flex-start;
    display: flex;
    width: 180px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    border-radius: 100px;
    border: 1px solid #FFF;
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


h3 {
    margin: 10px 0 5px;
    color: #FFF;

    font-family: Golos;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-align: left;

}

p {
    margin: 0;
    color: rgba(255, 255, 255, 0.80);

    font-family: Golos;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}